@font-face {
    font-family: 'Berylium';
    src: url('Berylium.woff2') format('woff2'),
        url('Berylium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: 'Berylium', sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('Św._Jerzy_i_smok.jpg'); /* Dodaj ścieżkę do obrazka jako tło body */
    background-size: cover; /* Ustawienie, aby tło zawsze pokrywało całe body */
    background-position: center top;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-size: 50px;
}

#ranking {
    max-width: 600px;
    margin: 0 auto;
}

.zastep {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f0f0f0;
    background-image: url('zastepy_backgroud.jpg'); /* Dodaj ścieżkę do obrazka jako tło elementów z rankingu */
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}


.zastep .numeracja {
    flex-shrink: 0;
    width: 30px;
    text-align: center;
    margin-right: 10px;
    font-weight: bold;
}

.zastep .nazwa {
    flex-grow: 1;
    margin-right: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
}

.zastep .punkty {
    background-color: #f0f0f0;
    opacity: 0.9;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
}
@media (max-width: 1100px)
{
    h1 {
        font-size: 40px;
    }
}
@media (max-width: 600px) {
    #ranking {
        padding: 0 10px;
    }

    h1 {
        font-size: 30px;
    }
}
